<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css">
</head>
<body  class="icondemoFontIconsWithLigatures">

  <!--
    Your HTML content here
  -->  
	<div ng-controller="listdata as data" flex="" ng-cloak="" class="gridListdemoDynamicTiles" ng-app="MyApp">
	<div class="text-center">
  	<dir-pagination-controls
        max-size="10"
        direction-links="true"
        boundary-links="true" 
        on-page-change="data.getData(newPageNumber-1)">
    </dir-pagination-controls>
     <form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
   </div>
  <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="3:4" md-row-height-md="3:4" md-row-height="3:4" md-gutter="8px" md-gutter-gt-sm="4px">

    <md-grid-tile  ng-class="tile.background" dir-paginate="tile in data.tiles|itemsPerPage:data.itemsPerPage|filter:search" total-items="data.total_count">
      <img src="https://cdn.mangaeden.com/mangasimg/{{tile.image}}" />
      <md-grid-tile-footer>
      	<h3>{{tile.title}}</h3>
      	<span>{{tile.info.i}}</span>
      	<ul><li ng-repeat="c_c in tile.info.c">{{c_c}}</li></ul>
<!-- 
      	<span>{{tile.info.h}}</span>
      	<span>{{tile.info.s}}</span>
 -->
      </md-grid-tile-footer>

    </md-grid-tile>
  </md-grid-list>
  <div class="text-center">
  	<dir-pagination-controls
        max-size="10"
        direction-links="true"
        boundary-links="true" 
        on-page-change="data.getData(newPageNumber-1)">
    </dir-pagination-controls>
   </div>
</div>


  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
   <script src="node_modules/angular-route/angular-route.min.js"></script>
  
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-messages/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="node_modules/angular-material/angular-material.min.js"></script>

  <!-- Angular Pagination -->
  <script src="node_modules/angular-utils-pagination/dirPagination.js"></script>
  
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    
var app =  angular
  .module('MyApp',['ngMaterial', 'ngMessages','angularUtils.directives.dirPagination']);
  app.controller('listdata', function($scope, $http) {

//     this.tiles = buildGridModel({
//             icon : "",
//             title: "",
//             background: ""
//           });

//     function buildGridModel(tileTmpl){
		var vm = this;
		vm.tiles = []; //declare an empty array
		vm.pageno = 0; // initialize page no to 1
		vm.total_count = 0;
		vm.itemsPerPage = 36;
		vm.getData = function(pageno){ 
			var it, results = [ ];
			var APIItems = null ;
			var tileTmpl = [{ image : "",title: "",background: ""}];
			$http.get("https://www.mangaeden.com/api/list/1/?p="+pageno+"&l="+vm.itemsPerPage)
			.then(function (response) {
				console.log(response);
				APIItems = response.data.manga;
				vm.total_count = response.data.total;
				j=0;
				for(val in response.data.manga){
					it = angular.extend({},tileTmpl);
					it.image  = APIItems[val].im;
					it.title = APIItems[val].t;
					it.span  = { row : 1, col : 1 };
					it.info = APIItems[val];
					switch((j+1)%10) {
					  case 1:it.background = "red";				break;
					  case 2: it.background = "green";         	break;
					  case 3: it.background = "darkBlue";      	break;
					  case 4: it.background = "blue";			break;
					  case 5: it.background = "yellow";			break;
					  case 6: it.background = "pink";          break;
					  case 7: it.background = "darkBlue";      break;
					  case 8: it.background = "purple";        break;
					  case 9: it.background = "deepBlue";      break;
					  case 10: it.background = "lightPurple";  break;
					}
					results.push(it);
					j++;  
				}
				$scope.tiles =  results;
				vm.tiles  = results;
			});
			
		};
		vm.getData(vm.pageno);
  });


/**
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
**/
</script>

  
</body>
</html>

