<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp" ng-cloak ng-controller="ProductController as products" layout="column">

  <div class="product-filter" layout>
    <h1 flex class="md-headline">Jackets</h1>
    <div class="sort md-caption" layout>
      <div class="collection-sort" layout="column">
        <md-input-container>
          <label>Filter by:</label>
          <md-select ng-model="products.filterBy">
            <md-option value="{{filter}}" ng-repeat="filter in products.availableFilters">{{filter}}</option>
          </md-select>
        </md-input-container>
      </div>
      <div class="collection-sort" layout="column">
        <md-input-container>
          <label>Sort by:</label>
          <md-select ng-model="products.sortedBy">
            <md-option value="{{sort}}" ng-repeat="sort in products.availableSorts">{{sort}}</option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>

  <section class="catalog" layout layout-wrap layout-align="center">
    <md-card ng-repeat="it in products.catalog" flex="22" flex-sm="46" flex-xs="80" ng-class="{shaded:$mdMedia('xs') }">
      <img src="{{it.imageURL}}"></img>
      <md-card-footer-text layout="column">
        <span class="md-title">{{it.title}} </span>
        <span class="md-subhead">{{it.price}}</span>
      </md-card-footer-text>
    </md-card>
  </section>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-messages/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */

angular.module('myApp',['ngMaterial'])
.controller('ProductController', function( $scope, $products, $mdMedia) {
    $scope.$mdMedia           = $mdMedia;

    this.filterBy         = "All Jackets";
    this.sortedBy         = "Featured"    
    this.availableFilters = $products.availableFilters;
    this.availableSorts   = $products.availableSorts; 
    this.catalog          = $products.catalog;        
})
.factory('$products',function(){
  return {
    availableFilters : ["All Jackets","2016","jacket","Jackets","layers","Obermeyer","Roxy","womens"],
    availableSorts   : ["Featured","Best Selling","Alphabetically, A-Z","Alphabetically, Z-A","Price, low to high","Price, high to low","Date, new to old","Date, old to new"],
    catalog : makeJackets()    
  };
  
  function makeJackets() {    
    var list=[ ], master = {
      imageURL : "https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369",
      title : "Winter Jacket",
      price : "$99.99"
    }
    
    for (var j=0;j<6;j++) {
      list.push(angular.extend({},master));
    }    
    return list;    
  }
  
})
</script>

  </script>
  
</body>
</html>

