<md-content flex layout-padding >
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
	  <md-button class="md-raised md-primary" data-ng-click="gotoList()">Back to List</md-button>
	  <md-button class="md-raised md-warn" data-ng-click="gotoManga(manga.i)">Back to {{manga.title}}</md-button>
	  <md-input-container style="margin-right: 10px;">
		<label>Chapter</label>
		<md-select ng-model="chapter" ng-change="onChapterChange();" >
		  <md-option ng-repeat="chapter in manga.chapters" value="{{chapter[3]}}" >{{chapter[2]}}</md-option>
		</md-select>
	  </md-input-container>
	</section>
	<section class="chapter-pages" angular-lazy-load>
		<img src="https://cdn.mangaeden.com/mangasimg/{{current.image}}" title="{{current.index}}" alt="{{current.index}}" /><br />
		<img ng-repeat="page in dataSet" ng-if="$index != 0" class="lazy-load" data-src="https://cdn.mangaeden.com/mangasimg/{{page.image}}" title="{{page.index}}" alt="{{page.index}}" /><br />
	</section>
</md-content>
